* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --main: hsla(250, 90%, 65%, 1);
  --bg: #161a1d;
  --text: #fff;
}

.action-btn {
  background: #7055f6;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-75%, -50%);
          transform: translate(-75%, -50%);
  border-radius: 0;
  border: none;
}

#app {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}

header.main {
  padding: 12px;
  background: var(--main);
  border-radius: 0;
}

header.main h1 {
  margin: 8px 0;
  color: #fff;
}

header.main .info span {
  margin: 0 8px 0 0;
  border-radius: 0;
}

header.main .info #count {
  color: #fff;
  background: #7055f6;
  font-weight: 100;
  font-style: italic;
}

section.list-section {
  min-width: 200px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 12px;
}

section.list-section header {
  margin: 0 0 2em 0;
}

section.list-section header .input-field-cont {
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  max-width: 100%;
}

section.list-section header .input-field-cont input {
  color: var(--text);
}

section.list-section section#list-items ul {
  position: relative;
}

section.list-section section#list-items ul li {
  padding: 12px;
  border: 2px solid #7055f6;
  margin: 12px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

section.list-section section#list-items ul li .remove-btn {
  padding: 12px 12px;
  line-height: 0.5;
  height: unset;
  -webkit-transform: translate(calc(-100% + 2px), -50%);
          transform: translate(calc(-100% + 2px), -50%);
  height: calc(100% + 2px);
}

section.list-section section#list-items ul li .check-field-cont {
  padding: 0 0;
}

section.list-section section#list-items ul li .check-field-cont label {
  display: inline-block;
  padding: 0;
}

section.list-section section#list-items ul li .check-field-cont label span {
  width: 100%;
  padding: 0 32px 0 20px;
  margin: auto;
  display: block;
  line-height: 1;
}

section.list-section section#list-items ul li input[type="checkbox"] {
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
}

section.list-section section#list-items ul li input[type="checkbox"] + label:after {
  -webkit-transform: translate(calc(-50% + 7px), -50%) scale(0);
          transform: translate(calc(-50% + 7px), -50%) scale(0);
}

section.list-section section#list-items ul li input[type="checkbox"] + label:before {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

section.list-section section#list-items ul li input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate(calc(-50% + 7px), -50%) scale(1);
          transform: translate(calc(-50% + 7px), -50%) scale(1);
}

section.list-section section#list-items ul li input[type="checkbox"]:checked + label span {
  text-decoration: line-through;
}

.list-complete-item {
  -webkit-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute !important;
}
/*# sourceMappingURL=styles.css.map */