* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --main: #7055f6;
  --bg: #161a1d;
  --bg-t: rgba(112, 85, 246, 0.149);
  --text: #fff;
}

.action-btn {
  background: var(--main);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-75%, -50%);
          transform: translate(-75%, -50%);
  border-radius: 0;
  border: none;
}

#app {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}

header.main {
  padding: 12px;
  background: var(--main);
  border-radius: 0;
}

header.main #logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.main #logo .svg-cont {
  width: 45px;
  height: 45px;
  display: inline-block;
  margin: 0 1em;
}

header.main #logo .svg-cont svg path, header.main #logo .svg-cont svg circle {
  fill: #fff;
}

header.main #logo h1 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2em;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.main nav {
  display: inline-block;
  height: 100%;
}

header.main nav ul {
  display: block;
  list-style-type: none;
}

header.main nav ul li {
  display: inline;
}

section#main {
  width: 100%;
  padding: 12px;
}

section#main .stats {
  padding: 12px;
  margin: 12px 0 0 0;
  background: var(--bg-t);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section#main .stats h1 {
  margin: 8px 0;
  color: var(--text);
  opacity: 0.75;
}

section#main .stats .info span {
  margin: 0 8px 0 0;
  border-radius: 0;
  background: transparent;
  color: var(--text);
  -webkit-box-shadow: 5px 5px 0 #7055f626;
          box-shadow: 5px 5px 0 #7055f626;
  border: 1px solid var(--main);
}

section#main .stats .info #count {
  color: #fff;
  background: var(--main);
  font-weight: 100;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  section#main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content 1fr;
        grid-template-columns: -webkit-max-content 1fr;
        grid-template-columns: max-content 1fr;
    padding: 12px;
  }
  section#main .stats {
    min-width: 300px;
  }
}

section.list-section {
  min-width: 200px;
  width: 100%;
  max-width: 470px;
  margin: auto;
  padding: 12px;
}

section.list-section header {
  margin: 0 0 2em 0;
}

section.list-section header .input-field-cont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 60px;
  max-width: 100%;
  -webkit-box-shadow: 5px 5px 0 #7055f626;
          box-shadow: 5px 5px 0 #7055f626;
}

section.list-section header .input-field-cont input {
  color: var(--text);
}

section.list-section section#list-items ul {
  position: relative;
}

section.list-section section#list-items ul li {
  padding: 0 12px;
  border: 2px solid var(--main);
  margin: 12px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 5px 5px 0 #7055f626;
          box-shadow: 5px 5px 0 #7055f626;
}

section.list-section section#list-items ul li .remove-btn {
  padding: 12px 12px;
  line-height: 0.5;
  height: unset;
  -webkit-transform: translate(calc(-100% + 2px), -50%);
          transform: translate(calc(-100% + 2px), -50%);
  height: calc(100% + 2px);
}

section.list-section section#list-items ul li .check-field-cont {
  padding: 0 0;
  width: 100%;
}

section.list-section section#list-items ul li .check-field-cont label {
  display: inline-block;
  padding: 12px;
  width: 100%;
}

section.list-section section#list-items ul li .check-field-cont label span {
  width: 100%;
  padding: 0 32px 0 20px;
  margin: auto;
  display: block;
  line-height: 1;
}

section.list-section section#list-items ul li input[type="checkbox"] {
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
}

section.list-section section#list-items ul li input[type="checkbox"] + label:after {
  -webkit-transform: translate(calc(-50% + 7px), -50%) scale(0);
          transform: translate(calc(-50% + 7px), -50%) scale(0);
}

section.list-section section#list-items ul li input[type="checkbox"] + label:before {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

section.list-section section#list-items ul li input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate(calc(-50% + 7px), -50%) scale(1);
          transform: translate(calc(-50% + 7px), -50%) scale(1);
}

section.list-section section#list-items ul li input[type="checkbox"]:checked + label span {
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  section.list-section {
    position: relative;
    margin: 0 8% 0 auto;
  }
  section.list-section header {
    width: calc(100% + 24px);
    position: relative;
    left: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.list-complete-item {
  -webkit-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute !important;
}
/*# sourceMappingURL=styles.css.map */