*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --main: hsla(250, 90%, 65%, 1);

    
    --bg: #161a1d;
    --text: #fff;
    // --bg: #fff;
    // --text: #161a1d;
}

.action-btn{
    background: hsla(250, 90%, 65%, 1);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-75%, -50%);
    border-radius: 0;
    border: none;
}

#app{
    min-height: 100vh;
    background: var(--bg);
    color: var(--text);
}

header.main{
    padding: 12px;
    background: var(--main);
    border-radius: 0;

    h1{
        margin: 8px 0;
        color: #fff;
    }

    .info{
        span{
            margin: 0 8px 0 0;
            border-radius: 0;
        }
        #count{
            // padding: 4px 8px;
            // border-radius: 4px;
            color: #fff;
            background: hsla(250, 90%, 65%, 1);
            font-weight: 100;
            font-style: italic;
        }
    }
}

section.list-section{
    min-width: 200px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 12px;

    header{
        margin: 0 0 2em 0;
        .input-field-cont{
            margin-left: auto;
            margin-right: auto;
            height: 60px;
            max-width: 100%;
            
            input{
                color: var(--text);
            }
        }

        #add-btn{
        }
    }

    section#list-items{
        ul{
            position: relative;
    
            li{
                padding: 12px;
                border: 2px solid hsla(250, 90%, 65%, 1);
                margin: 12px 0;
                width: 100%;
                display: flex;
                position: relative;

                .remove-btn{
                    padding: 12px 12px;
                    line-height: 0.5;
                    height: unset;
                    transform: translate(calc(-100% + 2px), -50%);
                    height: calc(100% + 2px);
                }

                .check-field-cont{
                    padding: 0 0;
                    label{
                        display: inline-block;
                        padding: 0;

                        span{
                            width: 100%;
                            padding: 0 32px 0 20px;
                            margin: auto;
                            display: block;
                            line-height: 1;
                        }
                    }
                    
                }

                //fix for formu's default checkbox
                input[type="checkbox"]{
                    transform: scale(0);
                    position: absolute;
                    
                    & + label:after{
                        transform: translate(calc(-50% + 7px), -50%) scale(0);
                    }
                    & + label:before{
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                    &:checked + label:after{
                        transform: translate(calc(-50% + 7px), -50%) scale(1);
                    }
                    &:checked + label span{
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}

.list-complete-item{
    transition: all 0.32s ease-out;
}

.list-complete-enter, .list-complete-leave-to{
    opacity: 0;
    transform: translateY(30px);
}

.list-complete-leave-active{
    position: absolute!important;
}
